/*

SitePanel CSS

	This document contains all of the SitePanel-specific styles.
	For use across other DreamHost applications, promote these
	styles to DreamHost.css.

*/

// Colors included from dreamhost.css for easier referencing

//Backgrounds
$c-b700: #071c26; //midnight
$c-w100: #ffffff; //white

//Grayscale
$c-black: #000000; //black
$c-g500: #434F58; //metal
$c-g400: #677983; //galactic
$c-g300: #AFBFC9; //cloudy
$c-g200: #E0E4E8; //smoke
$c-g100: #F4F6F9; //offwhite

//Primary Accent
$c-b500: #1176A5; //royalblue
$c-b300: #2BADE9; //skyblue
$c-b100: #CCEFFF; //babyblue

// Checkout Accent
$c-o500: #664200; //autumn
$c-o300: #FFA700; //orange
$c-o100: #FFE0A6; //peach

// Positive Accent
$c-t500: #0D8288; //marina
$c-t300: #00CAAA; //turtle
$c-t100: #E5FEFF; //ice

// Neutral Accent
$c-y500: #6F5F1B; //leather
$c-y300: #FFDA00; //sunflower
$c-y100: #FFF4B6; //magnolia

// Negative Accent
$c-r500: #4F0703; //rust
$c-r300: #FF4A48; //coral
$c-r100: #FFCCCE; //rose


// Dashboard table tweaks
.Table--dashboard {
	.Table__link--active {
		color: $c-black;

		&:hover,
		&:hover > sub {
			color: $c-b500;
		}

		& sub {
			color: $c-g400;
		}
	}
}
