/*

SitePanel CSS

	This document contains all of the SitePanel-specific styles.
	For use across other DreamHost applications, promote these
	styles to DreamHost.css.

*/
.Table--dashboard .Table__link--active { color: #000000; }

.Table--dashboard .Table__link--active:hover, .Table--dashboard .Table__link--active:hover > sub { color: #1176A5; }

.Table--dashboard .Table__link--active sub { color: #677983; }
