/*

SitePanel CSS

	This document contains all of the SitePanel-specific styles.
	For use across other DreamHost applications, promote these
	styles to DreamHost.css.

*/
body { min-height: 100%; }

.PageHeader__notification-amount { color: #ffffff; }

.PageHeader__subnav a { text-decoration: none; }

.List--small-bold > li span { color: #677983; font-size: .875rem; padding: auto 1rem; }

.Card__super { text-transform: uppercase; font-size: .875rem; color: #677983; }

.Infographic__bar { display: block; background: #F4F6F9; height: 4px; width: 100%; position: relative; }

.Infographic__bar span { position: absolute; top: 0; left: 0; background: #2BADE9; height: 4px; width: 100%; }

.Infographic__core span { display: inline-block; margin: 0 1% 0 0; background: #E0E4E8; height: 4px; width: 24%; }

.Infographic__core span:first-child, .Infographic__core span:nth-child(2) { background: #2BADE9; }

.Infographic__radial-wrapper { position: relative; padding: 0 0 0 2rem; height: 200px; }

.Infographic__radial-content { margin: 4rem 0 1em 4em; padding: 0; position: absolute; top: 0; left: 0; background: transparent; }

.Infographic__radial-content .Button { margin: 0 0 0 -3em; }

.Infographic__radial { position: absolute; top: 2rem; left: 2rem; }

.Infographic__radial .Infographic__radial-inner { position: relative; border-radius: 500px; height: 110px; width: 110px; background: #2BADE9; clip-path: polygon(100% 0%, 50% 50%, 50% 100%, 0 100%, 0 0); }

.Infographic__radial span { background: #ffffff; height: 100px; width: 100px; display: block; border-radius: 500px; position: absolute; top: 50%; left: 50%; margin: -50px 0 0 -50px; }

.Card__wrapper { display: inline-flex; flex-wrap: wrap; margin: 2em 0 1.5em 0; }

.Card__wrapper .Card { display: flex; flex-direction: column; }

.Card__wrapper .Card__content { flex: 1 0 auto; }

.Card { background: #F4F6F9; width: 100%; }

@media (min-width: 750px) { .Card { background: none; }
  .Card.g-1_3, .Card.g-1_3__m, .Card.g-1_3__l { width: 31.76157%; }
  .Card.g-1_2, .Card.g-1_2__m, .Card.g-1_2__l { width: 48.82117%; } }

.Tabs__nav-item { padding: 0; }

.Tabs__nav-item a { display: block; color: #677983; padding: 0 0 1em 0; }

.Tabs__nav-item a:hover { text-decoration: none; color: #071c26; }

.Tabs__nav-item.is-active a { color: #071c26; }

.Tabs { overflow-y: hidden; cursor: e-resize; }

.Tabs ul { border-bottom: 1px solid #E0E4E8; min-width: 450px; }

.Tabs:after { width: 0; height: 0; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-left: 10px solid #F4F6F9; display: block; position: absolute; content: ''; top: 14.6rem; color: #AFBFC9; right: 2rem; }

.Tabs:hover:after { border-left: 10px solid #E0E4E8; }

@media (min-width: 500px) { .Tabs { overflow-y: auto; cursor: default; }
  .Tabs:before, .Tabs:after { display: none; } }

.Button--text { font-size: 14px; }

hr { border: 0; border-bottom: 1px solid #E0E4E8; }

.Table tbody tr td, .Table__m tbody tr td, .Table tbody tr td:first-child a, .Table__m tbody tr td:first-child a { font-size: 16px; }

.Button:not(.Button--text):not(.Toaster__close):not(.Button--compact):not(.t-caret) { font-size: 12px; padding: 1em 3em .9em; }

.List__menu--title { margin-bottom: .5em; }

.Tag, .Table--dashboard .Tag { top: -.1em; position: relative; font-weight: 600; width: auto; }

.Table__m tbody tr td:before { width: 100px; }

@media (min-width: 750px) { .Table__m tbody tr td:before { width: auto; } }

.Tabs__nav-item { font-size: 15px; }

.Card__super { font-size: 13px; }

code { padding: .3rem .6rem; }

.Toaster { background: #F4F6F9; }

.PageHeader__nav-link { font-size: 15px; }

.PageHeader__subnav > li { margin-right: 1rem; }

.Table--dashboard .Table__link--active { color: #000000; }

.Table--dashboard .Table__link--active:hover, .Table--dashboard .Table__link--active:hover > sub { color: #1176A5; }

.Table--dashboard .Table__link--active sub { color: #677983; }

.dashboard-buttons { padding: 0 0 3rem; margin-top: -1rem; }

@media (min-width: 1050px) { .dashboard-buttons { text-align: right; margin-top: 0; } }

.dashboard-buttons .Button--primary:hover { border-color: #2BADE9; }

.dashboard-buttons .t-caret:after { color: #AFBFC9; }

.dashboard-buttons .t-caret:hover:after, .dashboard-buttons .t-caret.is-open:after { color: #2BADE9; }

.everything-else.Popover { right: auto; width: 250px; }

.everything-else.Popover li { width: 100%; }

@media (min-width: 1050px) { .everything-else.Popover { right: 0; width: 600px; }
  .everything-else.Popover li { width: calc(50% - .2rem); } }

.everything-else + .Button { padding: 1em 2.5em .9em 3em; }

.old-panel { color: #677983; }

.Toaster-container { bottom: 0; top: auto; }

.Toaster__close { padding: .4rem; }

.Toaster__close g { stroke: #AFBFC9; transition: all .15s ease-in-out; }

.Toaster__close:hover { background: #FF4A48; border-color: #FF4A48; }

.Toaster__close:hover g { stroke: #ffffff; }

.Toaster--is-closing { animation: toaster-close .5s ease-in-out both; animation-delay: 0s !important; }

@keyframes toaster-close { 0% { opacity: 1;
    transform: scale(1) translateX(0);
    margin-bottom: .5em;
    height: 100%; }
  100% { opacity: 0;
    transform: scale(0.98) translateX(100%);
    margin-bottom: 0;
    height: 0; } }
