/*

SitePanel CSS

	This document contains all of the SitePanel-specific styles.
	For use across other DreamHost applications, promote these
	styles to DreamHost.css.

*/
.Table--dashboard .Table__link--active { color: #000; }

.Table--dashboard .Table__link--active sub { color: #5E6D78; }

.Card__super { text-transform: uppercase; font-size: .875rem; color: #677983; }

.Infographic__bar { display: block; background: #E0E4E8; height: 4px; width: 100%; position: relative; }

.Infographic__bar span { position: absolute; top: 0; left: 0; background: #2BADE9; height: 4px; width: 20%; }
