.PageHeader {
    padding: 1.75rem 0;
}

.PageHeader__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: block;
}

.PageHeader__nav-link {
    font-weight: 700;
}

.PageHeader__subnav > li {
    margin-right: 1rem;
}
